.App{
  text-align: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(/src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s;
}
.App-clouds{

  text-align: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.8s;
  background-image: url(/src/assets/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.App-warm{
 
  text-align: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.8s;
  background-image: url(/src/assets/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.App-clear{
  text-align: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.8s;
  background-image: url(/src/assets/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
.btn{
  background-color:#fff;
  border: none;
  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
  height: 30px;
  font-size: large;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  background-color: #ffffff8f;  
  border: 1px #fff solid;
}
.input{
  background-color:transparent;
  border: none;
  border-radius: 20px;
  border: 2px rgb(165, 165, 165) solid;
  padding: 10px 10px;
  font-size: x-large;
  color: white;
  font-weight: 600;
}
p{
  color: #fff;
  font-size: x-large;
  font-weight: 600;
}
h1{
  color: #000;
}

